<!DOCTYPE html>
<html lang="en">
<style>
form {
    margin: left;
    width: 33%
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <br/><br/>
    <font size="4">  
    Прогнозирование конечных свойств новых материалов 
    </font>
    <br/><br/>
    <form action="" method="post">
        <p>
	    <label for="username">Соотношение матрица-наполнитель</label>
	    <input type="float" name="Соотношение матрица-наполнитель">
        </p>
	    <label for="username">Плотность, кг/м3</label>
	    <input type="float" name="Плотность, кг/м3">
        </p>
	<p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>
