<!DOCTYPE html>
<html lang="en">
<style>
div {
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    background-color: #d5e9f2;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <br/><br/>
    <font size="4">  
    Прогнозирование конечных свойств новых материалов 
    </font>
    <br/><br/>
    <form action="" method="post">
        <p>
	    <label for="username">Соотношение матрица-наполнитель</label><br>
	    <input type="float" name="smn">
        </p>
	    <label for="username">Плотность, кг/м3</label><br>
	    <input type="float" name="pl">
        </p>
	    <label for="username">Модуль упругости, ГПа</label><br>
	    <input type="float" name="mu">
        </p>
	    <label for="username">Количество отвердителя, м.%</label><br>
	    <input type="float" name="ko">
        </p>
	    <label for="username">Содержание эпоксидных групп,%_2</label><br>
	    <input type="float" name="seg">
        </p>
	    <label for="username">Температура вспышки, С_2</label><br>
	    <input type="float" name="tv">
        </p>
	    <label for="username">Поверхностная плотность, г/м2</label><br>
	    <input type="float" name="pp">
        </p>
	    <label for="username">Потребление смолы, г/м2</label><br>
	    <input type="float" name="ps">
        </p>
	    <label for="username">Угол нашивки, град</label><br>
	    <input type="float" name="un">
        </p>
	    <label for="username">Шаг нашивки</label><br>
	    <input type="float" name="shn">
        </p>
	    <label for="username">Плотность нашивки</label><br>
	    <input type="float" name="pn">
	<p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>
