<!DOCTYPE html>
<html lang="en">
<style>
div {
    margin-left: 100px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Прогнозирование свойств</title>
</head>
<body>
<div>
    </p>
    </p>
    <b>Прогнозирование конечных свойств новых материалов</b> 
    </p>
    <form action="" method="POST">
        <p>
	    <label for="smn">Соотношение матрица-наполнитель</label><br>
	    <input type="float" name="smn" required>
        </p>
	    <label for="pl">Плотность, кг/м3</label><br>
	    <input type="float" name="pl" required>
        </p>
	    <label for="mu">Модуль упругости, ГПа</label><br>
	    <input type="float" name="mu" required>
        </p>
	    <label for="ko">Количество отвердителя, м.%</label><br>
	    <input type="float" name="ko" required>
        </p>
	    <label for="seg">Содержание эпоксидных групп,%_2</label><br>
	    <input type="float" name="seg" required>
        </p>
	    <label for="tv">Температура вспышки, С_2</label><br>
	    <input type="float" name="tv" required>
        </p>
	    <label for="pp">Поверхностная плотность, г/м2</label><br>
	    <input type="float" name="pp" required>
        </p>
	    <label for="ps">Потребление смолы, г/м2</label><br>
	    <input type="float" name="ps" required>
        </p>
	    <label for="un">Угол нашивки, град</label><br>
	    <input type="float" name="un" required>
        </p>
	    <label for="shn">Шаг нашивки</label><br>
	    <input type="float" name="shn" required>
        </p>
	    <label for="pn">Плотность нашивки</label><br>
	    <input type="float" name="pn" required>
	<p>
	    <input type="submit">
	</p>
    </form>

    <p>
    {% if message %}
        <p><b>{{message}}</b></p>
    {% endif %}
    </p>

</div>
</body>
</html>
